body {
    font-family: 'Lexend Deca', sans-serif;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
}

.title {
    color: white;
    font-family: 'Big Shoulders Display', cursive;
}

.style-grid {
    padding: 10%;
    color: hsl(0, 0%, 100%, 0.75);
}

.item-1 {
    background-color: hsl(31, 77%, 52%);
}

.item-2 {
    background-color: hsl(184, 100%, 22%);
}

.item-3 {
    background-color: hsl(179, 100%, 13%);
}