body {
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
}

html, body{
    height:100%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
}

.title {
    color: white;
    font-family: 'Big Shoulders Display', cursive;
}

.style-grid {
    padding: 15%;
    color: hsl(0, 0%, 100%, 0.75);
}

.item-1 {
    border-radius: .5rem 0 0 .5rem;
    background-color: hsl(31, 77%, 52%);
}

.item-1 button {
    color: hsl(31, 77%, 52%);
}

.item-2 {
    background-color: hsl(184, 100%, 22%);
}

.item-2 button {
    color: hsl(184, 100%, 22%);
}

.item-3 {
    background-color: hsl(179, 100%, 13%);
}

.item-3 button {
    color: hsl(179, 100%, 13%);
}

.word-spacing {
    line-height: 150%;
}

button {
    border: 0;
    border-radius: 50px;
    height: 3rem;
    width: 9rem;
    margin-top: 25%;
}

button:hover {
    border: 0.15rem solid white;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

h1 {
    font-size: 2.5rem;
}


@media screen and (max-width: 431px){

    .item-1 {
        border-radius: .5rem .5rem 0 0;
    }

}

@media screen and (min-width: 432px) and (max-width: 631px) {

    .item-1 {
        border-radius: .5rem 0 0 0;
    }

    .item-2 {
        border-radius: 0 .5rem .5rem 0;
    }

}

@media screen and (min-width: 632px) {

    .item-3 {
        border-radius: 0 .5rem .5rem 0;
    }

    body {
        overflow: hidden;
    }

}